@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: rgba(255, 242, 231, 0.50);;
}

.logo{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-size: 2rem;
}

ul{
    list-style: none;
}

.principal{
    background: #181012;
}

nav{
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.hero{
    background: #181012;

    max-width: 1920px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-image > figure >img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.hero-image{
    max-width: 45%;

}

h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

.hero-subtitulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1,5rem;
    font-style: normal;
    font-weight: 400;
}

hr{
    border-color: #A45A49;
    width: 20rem;

}